
h1{
    color: blue;
    text-align: center;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}




.type1{
    background-color: pink;
}

p.type1{
    font-size: 20px;
}

header p{
    color: red;
}










